@model ECharger.Models.IndexViewModel

<div class="content-header">
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Welcome to your ECharger Account @User.Identity.Name</h1>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</div>
