@model ECharger.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Account";
}

<div class="content-header">
    <div class="container-fluid">
        <h1 class="m-0 text-dark">@ViewBag.Title</h1>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</div>
