@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar-nav navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li><a href="@Url.Action("Index", "Manage", routeValues: null)"><span>Dashboard</span></a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><span>Log Off</span></a></li>
    }
}
else
{
    <li><a href="@Url.Action("Register", "Account", routeValues: null)"><span>Register</span></a></li>
    <li><a href="@Url.Action("Login", "Account", routeValues: null)"><span>Log In</span></a></li>
}