@using ECharger.Extensions

<li class="nav-item">
    <a class="nav-link @Html.IsSelected(actions: "Index", controllers: "Home")" href="@Url.Action("Index", "Home")">
        <i class="nav-icon fas fa-th"></i>
        <p>Home</p>
    </a>
</li>