@{
    ViewBag.Title = "About";
}

<div class="content-header">
    <div class="container-fluid">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <p>Use this area to provide additional information.</p>
    </div>
</div>

