@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ECharger</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="PWEB-ECharger find electrical charging stations" />
	<meta name="keywords" content="electrical charging stations, PWEB, ECharger" />
	<meta name="author" content="Ricardo Silva & Claudia Tavares" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	
	@Styles.Render("~/crew/css")

	</head>
	<body>
	<header role="banner" id="fh5co-header">
			<div class="container">
				<!-- <div class="row"> -->
			    <nav class="navbar navbar-default">
		        <div class="navbar-header">
		        	<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		          	<a class="navbar-brand" href="index.html">ECharger</a> 
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
		            <li><a href="#" data-nav-section="about"><span>About</span></a></li>
		            <li><a href="#" data-nav-section="services"><span>Services</span></a></li>
		            <li><a href="#" data-nav-section="features"><span>Features</span></a></li>
		            <li><a href="#" data-nav-section="testimonials"><span>Stations</span></a></li>
			        <li><a href="@Url.Action("Index", "Home")"><span>Login</span></a></li>
		          </ul>
		        </div>
			    </nav>
			  <!-- </div> -->
		  </div>
	</header>
	
	<div id="slider" data-section="home">
		<div class="owl-carousel owl-carousel-fullwidth">
			<!-- You may change the background color here. -->
			<div class="item" style="background: #352f44;">
				<div class="container" style="position: relative;">
					<div class="row">
						<div class="col-md-7 col-sm-7">
							<div class="fh5co-owl-text-wrap">
								<div class="fh5co-owl-text">
									<h1 class="fh5co-lead to-animate">Find Charging Stations</h1>
									<h2 class="fh5co-sub-lead to-animate">Easily find and reserve the nearest charging stations in your desired location</h2>
									<p class="to-animate-2"><a href="#fh5co-testimonials" class="btn btn-primary btn-lg">Start Searching</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 iphone-image">
							<div class="iphone to-animate-2"><img src="~/Content/Images/landingPage/Mapa-Mobie-Rounded.png" alt="Map of portugal with charging locations"></div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- You may change the background color here.  -->
		    <div class="item" style="background: #38569f;">
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
						    		<h1 class="fh5co-lead to-animate">A better world</h1>
									<h2 class="fh5co-sub-lead to-animate">Eletrical mobility is part of a revolution to make the world more sustainable and we want you to join us and become a part of the movement too</h2>
									<p class="to-animate-2"><a href="#fh5co-about-us" class="btn btn-primary btn-lg">Find Out More</a></p>
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 iphone-image">
					    	<div class="iphone to-animate-2"><img src="~/Content/Images/landingPage/Logo.png" alt="Electrical Mobility Logo"></div>
					    </div>
		            </div>
		    	</div>
		    </div>
		</div>
	</div>
	
	<div id="fh5co-about-us" data-section="about">
		<div class="container">
			<div class="row row-bottom-padded-lg" id="about-us">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">About Us</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 to-animate">
							<h3>Eletrical mobility is a growing market and we offer it's users a way to find the charging stations they require in a simple and easy way</h3>
						</div>
					</div>
				</div>
				<div class="col-md-8 to-animate">
					<img src="~/Content/Images/landingPage/main1.jpg" class="img-responsive img-rounded" alt="Photo of a charging station">
				</div>
				<div class="col-md-4 to-animate">
					<h2>How we got started</h2>
					<p>Eletrical mobility is a good solution but it still has limited resources and finding them through traditional means can be quite difficult and there is a possibility that once you reach the charging station it might full and your battery runs out, making you stand there waiting forever.</p>
					<p>We remove all of these problems allowing you to search for your charging station near you and we will give you a list of choices that are available and that your may reserve so you arrive and charge your vehicle without waiting.</p>
					<p><a href="#fh5co-testimonials" class="btn btn-primary">Choose your station</a></p>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-our-services" data-section="services">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Our Services</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 to-animate">
							<h3>Eletrical mobility is our speciality</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-5"><span><i class="icon-rocket"></i></span></div>
						<h3>Fast &amp; simple</h3>
						<p>Quickly find and reserve a charging station without having to wait for your turn, get there plug your vehicle and start charging. </p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-4"><span><i class="icon-briefcase"></i></span></div>
						<h3>Business ready</h3>
						<p>Register your company charging station and join the eletrical mobility movement with our users. </p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-1"><span><i class="icon-energy"></i></span></div>
						<h3>The energy you need</h3>
						<p>Never run out of battery in the middle of nowhere, let us find the charging stations so you can quickly charge your vehicle. </p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-2"><span><i class="icon-graph"></i></span></div>
						<h3>The info you want</h3>
						<p>Get all the details you could wish for and more in one place, your dashboard, completely personalized for your needs. </p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-3"><span><i class="icon-credit-card"></i></span></div>
						<h3>Payment simplified</h3>
						<p>Don't worry about the payment, your card will be linked to your account so your reserve will be paid the moment you do it. </p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-6"><span><i class="icon-refresh"></i></span></div>
						<h3>Always updated</h3>
						<p>Realtime information anywhere you search so you never miss a thing and quickly find what you are looking for. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-features" data-section="features">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-features-1">Features</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 single-animate animate-features-2">
							<h3>Features that charge our services.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-map"></i></div>
					<div class="fh5co-desc">
						<h3>Everything is mapped</h3>
						<p>Find what you need, we have lots of charging stations available wherever you are. </p>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-badge"></i></div>
					<div class="fh5co-desc">
						<h3>Eco Friendly</h3>
						<p>Join us and start making a difference in the world by being part of the eletrical mobility community. </p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-lock"></i></div>
					<div class="fh5co-desc">
						<h3>Your information is safe with us</h3>
						<p>All the data we share is annonymous and is only used to help the charging stations improve their service. </p>
					</div>	
                </div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4 single-animate animate-features-3">
					<a href="#" class="btn btn-primary btn-block">Sign Up</a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-testimonials" data-section="testimonials">		
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Charging Stations</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box-testimony to-animate">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
						</blockquote>
						<p class="author">John Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
					</div>
					
				</div>
				<div class="col-md-4">
					<div class="box-testimony to-animate">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;</p>
						</blockquote>
						<p class="author">John Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
					</div>

				</div>
				<div class="col-md-4">
					<div class="box-testimony to-animate">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
						</blockquote>
						<p class="author">John Doe, Founder <a href="#">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<footer id="footer" role="contentinfo">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12">
					<p class="copyright text-center">&copy; 2019 PWEB-ECharger. All Rights Reserved. <br> Powered by <a href="https://isec.pt/" target="_blank">ISEC</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="https://www.facebook.com/IPC.ISEC/"><i class="icon-facebook"></i></a></li>
						<li><a href="https://www.linkedin.com/school/isec-ipc/"><i class="icon-linkedin"></i></a></li>
						<li><a href="https://www.instagram.com/isecoimbra/"><i class="icon-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	
	@Scripts.Render("~/crew/js")

	</body>
</html>
